footer {
  height: 20%;
  width: 100%;
  background-color: #647494;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 768px) {
    font-size: smaller;
    height: 40px;
  }
  .footer-info {
    color: white;
    text-decoration: none;
  }
  .footer-link {
    color: white;
    text-decoration: none;
  }
}
